<nav class="navbar">
    <div class="navbar-container">
      <a routerLink="/user-management" class="navbar-logo">
        RBAC Dashboard
      </a>
      <br>
     
      <ul class="navbar-links">
        <li><a routerLink="/dynamic-permissions"><i class="fas fa-lock"></i> Role Permissions</a></li>
        <li><a routerLink="/role-management"><i class="fas fa-users-cog"></i> Role Management</a></li>
        <li><a routerLink="/user-management"><i class="fas fa-users"></i> User Management</a></li>
      </ul>
      <app-theme-toggle></app-theme-toggle>
    </div>
  </nav>
  